[Unit]
Description=Collect ambient data
Requires=influxdb.service

[Service]
ExecStart=COMMAND
User=USER
WorkingDirectory=WORKDIR
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
